*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background: linear-gradient(320deg, #728CA5, #7692AF, #C9D9E9, #C2D3E7);
    background-repeat: no-repeat;
    height: 100%;
}

.imgCss{
    width: 10.75rem;
    height: 15.75rem;
}